.photo-grid {
  width: 90%;
  min-height: 671px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}
@media (max-width: 1179px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 225px);
    gap: 14px;
  }  
}
@media (max-width: 767px) {
  .photo-grid {
    width: 93.75%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 264px);
    gap: 16px;
  }  
}
@media (max-width: 425px) {
  .photo-grid {
    grid-template-columns: 100%;
    grid-template-rows: repeat(12, 216px);
    gap: 12px;
  }  
}