.lead__title {
  max-width: 720px;
  margin: 28px 0 0 0;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
}
@media screen and (max-width: 1179px) {
  .lead__title {
    margin-top: 20px;
  }  
}
@media screen and (max-width: 767px) {
  .lead__title {
    width: 93.75%;
    font-size: 40px;
    line-height: 1.1;
  }  
}
@media (max-width: 426px) {
  .lead__title {
    width: 90%;
    margin-top: 32px;
  }  
}