.lead__caption {
  margin-top: 8px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  align-self: start;
}
@media screen and (max-width: 768px) {
  .lead__caption {
    width: 93.75%;
    margin: 8px auto 0 auto;
  }  
}
@media screen and (max-width: 425px) {
  .lead__caption {
    width: 90%;
  }  
}